@font-face {
    font-family: FontTittle;
    src: url(./Fonts/Dream.otf);
}
.tittle{
    font-family: FontTittle;
    color: #d4dcfd;
    font-size: 6vw;
}
.sub{
    font-family: FontTittle;
    font-size: 1.8vw;
    margin-top: -2%;
    color: rgb(186, 207, 252);

}
.Color{
    background-color: #004f8bbb;
    height: 23vh;
    border-radius: 10px;
}