.Izq{
    position: absolute;
    width: 20%;
    margin-left: 20%;
    margin-top: 0%;
}
.Centro{
    width: 40%;
    margin-left: 30%;
    margin-top: -25%;
}
.Der{
    position: absolute;
    width: 20%;
    margin-left: 55%;
    margin-top: -29.2%;
}

.color{
    background-color: #e9f4fc;
}

@font-face {
    font-family: Quienes;
    src: url(./Dream.otf);
}
.Who{
    font-family: Quienes;
}