.Texto{
    font-size: 102% !important;
    margin-left: -40% !important;
}
.subt{
    margin-left: -40% !important;
}
.Copyright{
    font-size: 102% !important;
    margin-left: 86%;
}

.footcolor{
    background-color: #024679dc;
    color: rgb(227, 245, 250);
}