@font-face {
    font-family: imgText;
    src: url(./Fonts/Logo.ttf);
}
.imgTitulo{
    width: 9%;
    border-radius: 5%;
    margin-top: -2%;
    margin-left: -14%;
}
.ImgText{
    font-family: imgText;
    color: #c7980a;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    text-shadow: -4px 1.4px 0 #705608;
}
.navcol{
    color: black; 
}